{{!-- <h1>CART</h1>

<section class="cart">
  <div>
    <h1 style="text-align: center;">Product Details</h1>
    <hr />
    <div class="product-details">
      <div class="p-details">
        <div class="image-container">
          <img class="detail-img" src="{{product.image}}" alt="" />
        </div>
        <div class="content-container">
          <p>Title: {{product.title}}</p>
          <p>Price: ${{product.price}}</p>
          <button>﹣</button>
          <button>＋</button>

          <div class="button-container">
            <button><a href="/products">Back To Shopping</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> --}}


<h1>CART</h1>

<section class="cart">
  <div>

    
    <div class="product-details">
      {{#each cartItems}}
        <div class="p-details">
          <div class="image-container">
            <img class="detail-img" src="{{this.product.image}}" alt="" />
          </div>
          <div class="content-container">
            <p>Title: {{this.product.title}}</p>
            <p>Price: ${{this.product.price}}</p>
            <p class="quantity">Quantity: {{this.quantity}}</p>

            <form action="/carts/{{product.id}}" method="POST">
              <input type="hidden" name="id" value="{{this.product.id}}" />
              <button type="submit" class="add-btn">+</button>
              <button type="submit" class="add-btn" id="minus">-</button>
            </form>
          </div>
        </div>
      {{/each}}
    </div>
    <div><p>Total: {{cartTotal}}</p></div>
    <button>
      <a href="/checkout">Proceed to checkout</a>
    </button>
  </div>
</section>
