

<div class="container-fluid px-4c">
  <div class="row gx-5">
    {{#each products}}
      <div class="col-3 product">
        <a href="/products/{{id}}">
          <img src=" {{image}}" alt="{{title}}" class="product-image img-fluid"/>
          <p>{{title}}</h3>
          <p>${{price}}</p>
        </a>
        <div class="btn btn-warning">Add to cart</div>
        {{!-- <div>
          {{!-- <i class="far fa-heart heart"></i> --}}
        </div> --}}
      </div>
    {{/each}}
  </div>
</div>
