


  <div class="row">
    {{#each products}}
      <div class="col-3 product">
        <a href="/products/{{id}}">
          <img src=" {{image}}" alt="{{title}}" class="product-image img-fluid"/>
          <p class="list-text">{{title}}</p>
          <p class="list-text">${{price}}</p>
          <div class="btn btn-warning">Add to cart</div>
        </a>
      </div>
    {{/each}}
  </div>
