<div class="row">
  {{#each products}}
    <div class="col-3 product">
      <a href="/products/{{id}}">
        <img src=" {{image}}" alt="{{title}}" class="product-image img-fluid" />
        <p class="list-text">{{title}}</p>
        <p class="list-text">${{price}}</p>
      </a>

      <form action="/carts/{{product.id}}" method="POST">
        <input type="hidden" name="id" value="{{product.id}}" />
        <button type="submit" class="add-btn">+</button>
      </form>

    </div>
  {{/each}}
</div>